img {
    width: 100px;
}

#absolute {
    position: absolute;
    top: 15px;
    right: 3px;
    z-index: -5;
}

#container{
    background-color: green;
    display: inline-block;
}

#relative {
    position: relative;
    top: 20px;
    left: 30px;
}

#fixed {
    position:fixed;
    bottom: 20%;
    right: 40px;
}